.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
}
.logo{
    font-size: 35px;
    color: white;
    letter-spacing: 5px;
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
ul li{
    font-weight: 500;
    font-size: 18px;
}
 ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 7px 15px;
     border-radius: 30px;
    transition: .3s;
 }
 ul li a.active{
    background-color: white;
 }
